<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
 
    <nav>
      
       
          <thead>
<th> <div id='logo'><img src="https://i.imgur.com/8RcpB74.png" title="source: imgur.com" /></div>
  <table id='navtable'></th>
            <th>
                <form id ='library' action="/users/library">
                  <button class="btn btn-outline-light" type="submit">LIBRARY</button>
                </form>
            </th>
            <th>
                <form id ='addbooklink' action="/users/new">
                  <button class="btn btn-outline-light" type="submit">ADD BOOK</button>
                </form>
            </th>
            <th>
                <form id ='settingslink' action="/users/settings">
                  <button class="btn btn-outline-light" type="submit">SETTINGS</button>
                </form>
           </th>

           <th> <% if (user) { %>
            <a href="/logout" class="btn btn-outline-danger" width="35"> Logout </a>
          <% } else { %>
            <a href="/auth/google" class="btn btn-outline-light" width="35">Login with Google</a>
          <% } %></th>
          
        </thead>
       
        
      </table>
      
    </nav>
   

  