<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
 
    <nav>
        <table id='navtable'>
          <thead>

            <th>
              <a href="/users/library"><img src="https://www.pngkey.com/png/full/208-2085400_library-icon-college-life-png-icon.png"width="62" height="62"></a>
            </th>
            <th>
              <a href="/users/new"><img src="https://icon-library.net/images/book-icon-file/book-icon-file-28.jpg"width="58" height="58"></a>
            </th>
            <th>
               <a href="/users/settings"><img src="https://cdn1.iconfinder.com/data/icons/mobile-device/512/settings-option-configurate-gear-blue-round-512.png"width="60" height="60"></a>
           </th>
        </thead>
        <tr> 
          <td class='navtd'><a href="/users/library">Library</a></td>
          <td class='navtd'><a href="/users/new">Add Book</a></td>
          <td class='navtd'><a href="/users/settings">Settings</a></td>
        </tr>
        
      </table>
      
    </nav>
  