body{
  /* background-image: url("https://images-platform.99static.com//3fk8xE3EbeJYpE2ksVwYs5cqnJo=/1201x145:2000x944/fit-in/500x500/filters:fill(white,true)/99designs-contests-attachments/83/83857/attachment_83857388"); */
  
  background-color: rgb(255, 255, 255);
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  color: rgb(255, 255, 255);
}


 nav {
  /* background-image: linear-gradient( rgb(47, 51, 61), rgb(47, 51, 61)); */
  border-bottom: 2px solid rgb(0, 0, 0);
  /* position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 15%; */
}


/* #navtable{
  position: fixed;
  width: 80%;
  left: 20%;
  top: 4%;
} */

a {
  opacity: 0.7;
  color: rgb(255, 255, 255);
}

a:hover {
  opacity: 1;
}


/* .navtd {
  text-align: center;
  position: relative;
  bottom: 6px;
} */

h1 {
  margin: 10px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

h2 {
  margin: 10px;
  text-align: center;
}

h3 {
  margin: 10px;
  text-align: center;
}

#addbook {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

input {
  margin: 25px;
  font-size: 25px;
}

label {
  font-size: 20px;
}

tr.books:hover{
  color: rgba(40, 53, 42, 0.8);
  background-color: rgb(135, 201, 221);
}

th{
  font-size: 15px;
}

th.u{
  text-decoration: underline;
}

#sortby{
  text-align: right;
}

#numbooks{
  margin-left: 15%;
  margin-top: 5%;
  font-size: 20px;
}

#sortby{
  margin-right: 15%;
  margin-top: -2%;
}

.noteheading{
  text-align: center;
  font-size: 30px;
}

textarea{
  background-color: rgba(255, 255, 255, 0.8); 
  display: table;
  position: fixed;
  height: 55%;
  width: 75%;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#noteinput{
  background-color: rgba(255, 255, 255, 0.8); 
  display: table;
  position: fixed;
  top: 90%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#topdiv{
  /* display: table; */
  position: fixed;
  height: 60%;
  width: 75%;
  top: 65%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-radius: 25px;
  margin: 0;
  padding: 0;
}

#toptable{
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
  width: 90%;
  font-size: 15px;
  margin:0;
  padding: 0;
}

#newbookDiv{
  background-color: rgb(50, 91, 194);
  /* display: table; */
  position: fixed;
  height: 70%;
  width: 55%;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border-radius: 25px;
  overflow-y: auto;
  border: 2px solid rgb(0, 0, 0);
}

textarea{
  width: 75%;
  height: 20%;
  border: 4px solid rgb(0, 0, 0);
  bottom: 10%;
}

#addnote{
  text-align: center;
  font-size: 35px;
}

#addnoteinput{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 82%;
  left:48%;
}



hr{
  background-color: black;
  width: 70%;
}

#logo{
  position: fixed;
  top: 50%;
  left: 55%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);  
}

#firstnav{
  position: fixed;
  top: 0%;
  left: 0%;
  /* bring your own prefixes */
  transform: translate(0%, 0%);
  width: 100%;
  height: 15%;
}


#commentDiv{
  background-color: rgb(50, 91, 194, 0.8);
  /* display: table; */
  position: fixed;
  height: 35%;
  width: 75%;
  top: 80%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  overflow-y: auto;
  border: 2px solid rgb(0, 0, 0);
  font-size: 35px;
}
#logo{
  position: fixed;
  transform: translate(-350%, -205%);
}

.fullnote {
  background-color: rgb(205, 211, 227);
  /* display: table; */
  /* bring your own prefixes */
  border-radius: 5px;
  overflow-y: auto;
  border: 2px solid rgb(255, 255, 255);
  margin: 0% 15% 0% 15%;
  height: 150px;
  width:70%;
  
}

#notepadbottom{
  bottom: 10px;
}

#landingbody{
  background-image: url("https://images.wallpaperscraft.com/image/cup_book_reading_114848_3840x2400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20%;
  border-radius: 25px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgb(50, 91, 194);
  text-align: center;
}