body{
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71ol1jY8qQL._SL1024_.jpg");
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  color: greenyellow;
}


body > nav {
  background-color: rgba(42, 131, 52, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


table{
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}

a {
  opacity: 0.7;
  color: greenyellow;
}

a:hover {
  opacity: 1;
}


td {
  position: relative;
  bottom: 15px;
}
