<%- include('../partials/header') %>

<br>

<div class="container bg-light">

        <h1 class="text-primary">About</h1>


    <hr>

    <br>

<h5 class="text-primary">MyBookShelf is your own personal library tracker. Sort your books to help you remember which books you have read and which books you haven't.</h5>

<br>

<h2 class="text-primary">Instructions</h2>


<h5 class="text-primary">Simply sign in with your google account and start adding your books. Sort Them into categories called "shelves" to keep track of them more easily.</h5>

<br>

</div>

<%- include('../partials/footer') %>