<%- include('../partials/header') %>



  <h1>Expand Your Library</h1>
  <form id ='addbook' action="../users/library" method="POST">

    <label>Title:
        <input type="text" name="Title">
      </label><br>
      
      
      <label>Author:
        <input type="text" name="Author">
      </label><br>
    
    <label>Group:
      <select name="Group">
        <option value="Favorite">Favorite</option>
        <option value="To Read">To Read</option>
        <option value="Read">Read</option> 
      </select>
    </label><br>
    
    
    <input type="submit" value="Add Book">
  </form>

  <%- include('../partials/footer') %>