<%- include('../partials/header') %>



  <h2>Enter a New Book</h2>
  <form action="../users/library" method="POST">

    <label>Title:
        <input type="text" name="Title">
      </label><br>
      
      
      <label>Author:
        <input type="text" name="Author">
      </label><br>
    
    <label>Group:
      <select name="Group">
        <option value="favorite">Favorite</option>
        <option value="toread">To Read</option>
        <option value="read">already Read</option>
      </select>
    </label><br>
    
    
    <input type="submit" value="Add Book">
  </form>

  <%- include('../partials/footer') %>