<%- include('../partials/header') %>


<p class='noteheading text-primary'><%= book.Author%>, <%= book.Title%></p><br>
<p class='noteheading text-primary'>Note</p>





<form id ='addnote' action="/users/notes/update?_method=PUT" method="POST">

    <textarea name='note' rows="4" cols="5"></textarea>

<input id='addnoteinput' type="submit" value="Change Note">
</form>

<%- include('../partials/footer') %>