<%- include('../partials/header') %>

<br>
<p class='noteheading text-primary'><%= book.Author%>, <%= book.Title%></p>

<hr>

<p class='noteheading text-primary'>Note:</p>





<form id ='addnote' action="/users/notes/update?_method=PUT" method="POST">

    <textarea name='note' rows="4" cols="5"></textarea>

<h3>
    <button class="btn btn-outline-dark" type="submit">Change Note</button>
  </h3>
</form>



<%- include('../partials/footer') %>