<%- include('../partials/header') %>
    
<br> <br> <br> <br> <br> <br> <br><h1>Settings</h1>

<div id='newbookDiv'>

    <label>Sort Books By:
        <select name="Sort By">
          <option value="Title">Title</option>
          <option value="Author">Author</option>
        </select>
      </label>

      <button type="button" onclick="myFunction()">Red Theme</button>

      <script>
      function myFunction() {
          document.body.style.backgroundColor = "maroon";
          document.getElementById('newbookDiv').style.backgroundColor = "rgb(70, 0, 0)";
          document.getElementsByTagName('nav').style.backgroundColor = "rgb(70, 0, 0)";
      }
      </script>

</div>



 <%- include('../partials/footer') %>