<%- include('../partials/header') %>
    
<h1>Settings Page</h1>

<div id='newbookDiv'>

    <label>Sort Books By:
        <select name="Sort By">
          <option value="Title">Title</option>
          <option value="Author">Author</option>
        </select>
      </label>

</div>

 <%- include('../partials/footer') %>