<%- include('../partials/header') %>
    
<h1 class="text-primary">Settings</h1>

<div id='newbookDiv' style='opacity:0.9'>
    <form id ='addbook' action="../a?_method=PUT" method="POST">

    <label>Sort Books By:
        <select name="Sort By">
          <option value="Title">Title</option>
          <option value="Author">Author</option>
        </select>
      </label>

      <br><br><br>
<label>Theme:
  <input type="radio" name="theme" value="male" checked>Light
  <input type="radio" name="theme" value="female">Dark
</label>
      
      <br><br><br>

<input type="submit" value="Save Settings" class="btn btn-outline-success">
</form>

</div>



 <%- include('../partials/footer') %>